.card {
    background-color: #ece3e0;
}

.user-borders {
    border-style: solid;
}

.options {
    background-color: red;
    font-size: inherit;
}

.bd-datainput {
    background-color: #ece3e0;
    border-style: solid;
    
     
}

.data-input-header {
    padding-right: 10px;

}
