@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

/*----------------- mainstyles----------------*/

html {
    background: url('/static/img/Snap-general-election-25417.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.main-home {
    background-color: #ece3e0;
    padding: 40px;
    border-radius: 28px;
    margin-bottom: 55px;
}


p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    line-height: 1.5;
    margin: 10px 0;
}

/*----------------- user-blog styles----------------*/

.blog-title {
    margin-bottom: 50px;
    margin-top: 50px;
}



.user-borders {
    border-style: solid;
}

.options {
    background-color: red;
    font-size: inherit;
}

.bd-datainput {
    background-color: #ece3e0;
    border-style: solid;
    padding-left: 20px;
    border-radius: 25px;
    margin-bottom: 40px;



}

.data-input-header {
    padding-right: 10px;

}


.output-info {
    margin-left: 30px;

}

.output-info-name {
    padding-top: 12px;
    margin-left: 30px;
}



.blog-output {
    background-color: #ece3e0;
    border-radius: 25px;
    width: 60%;
    border: solid;
    border-color: slategray;
    border-style: double;
}

.user-comment-text {
    font-family: 'Marck Script', cursive;

}



/*-------------------------------------------thumbnail styling--------------------*/

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    text-align: center;

}


thumbnail img {
    text-align: center;
    filter: grayscale(100%);
    transition: transform 2s;
}

.thumbnail img:hover {
    filter: grayscale(0);

    border-color: #f07f03;
}

/*-------------------------------------thumbnail party pics----------------------*/

#conservative-pic,
#SNP-pic,
#labour-pic,
#brexit-pic,
#dup-pic,
#green-pic,
#lib-pic,
#plaid-pic {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 5px solid #797575;
    border-radius: 70px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*-------------------------------------button and hr styling----------------------*/

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 80%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 45px;
}

hr.data-line {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 80%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;

}



.btn-block-home {
    display: block;
    width: 48%;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}


.hr-style {
    margin-top: 45px;
}


.bottom-button {
    margin-bottom: 50px;
}

.btn-warning {
    color: #212529;
    background-color: #f7ec90;
    border-color: #ffc107;
}

.btn-block {
    display: block;
    width: 36%;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: auto;
    border-radius: 20px;
    margin-right: auto;
}


btn-block-home {
    display: block;
    width: 48%;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}




/*----------------- main headings--------------*/

#main-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.main-text {
    text-align: center;
}


h3,
h1 {
    text-align: center;
}


.main-heading {
    margin-bottom: 25px;
    text-align: center;
    margin-bottom: 30px;
}


.sub-heading-logo {
    margin-bottom: 25px;
}



.modal-heading {}

.modal-content p {}


body {
    margin-bottom: 20px;
    background-color: transparent;
}


/*.bg-light {
    background-color: #aebecd!important;
}
