{% extends 'base.html' %} {% block content %}







<form>
    <div class="container">
        <div class="bd-datainput">
            <h2>Please enter your details</h2>
            <div class="row">

                <div class="input-group mb-3">



                    <select class="custom-select" id="inputGroupSelect02">
                        <option selected>Choose...</option>
                        {% for wage in wages %}
                        <option value="{{wage.wage}}">{{wage.wage}}</option>
                        {%endfor%}
                    </select>

                </div>

                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01">
                        
                        <option selected>Choose...</option>
                        {% for region in regions %}
                        <option value="{{region.region}}">{{region.region}}</option>
                        {%endfor%}
                    </select>

                </div>

                <div class="input-group mb-3">

                    <select class="custom-select" id="inputGroupSelect03">
                        <option selected>Choose...</option>
                        {% for party in parties %}
                        <option value="{{party.party}}">{{party.party}}</option>
                        {%endfor%}
                    </select>
                </div>

                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                        <option selected>Choose...</option>
                        {% for religion in religions %}
                        <option value="{{religion.religion}}">{{religion.religion}}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
