{% extends 'base.html' %} {% block content %}





<div class="bd-datainput">
    <div class="container justify-content-center">
        <form action="{{ url_for('insert_blog') }}" method="POST">

            <div class="row mb-1">
                <div class="col-12">
                    <h2>Please enter your details</h2>
                </div>
            </div>
            <div class="row">
                <label for="exampleInputEmail1">Username</label>
            </div>
            
            
            <div class="form-row mb-1">
                <div class="col-12">
                    <div class="form-group">

                        <input name="user_name" type="text" class="form-control" id="exampleInputUsername" aria-describedby="username" placeholder="Enter username">
                        <small id="userhelp" class="form-text text-muted">This will be your username, and what other users will see</small>
                    </div>
                </div>
            </div>


            <div class="row">
                <label for="exampleInputEmail1">Email address</label>
            </div>
            <div class="form-row mb-1">
                <div class="col-12">
                    <div class="form-group">

                        <input type="email" name="user_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="exampleInputEmail1">My age is...</label>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="input-group mb-3">

                        <select name="user_age" class="custom-select" id="inputGroupSelect02">
                        <option selected>Choose...</option>
                        {% for age in ages %}
                        <option value="{{age.age}}">I am {{age,age}} years old</option>
                        {%endfor%}
                    </select>
                    </div>
                </div>
            </div>
            
            
            
            <div class="row">
                <label for="exampleInputEmail1">Wages</label>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="input-group mb-3">

                        <select name=""user_wage"" class="custom-select" id="inputGroupSelect02">
                        <option selected>Choose...</option>
                        {% for wage in wages %}
                        <option value="{{wage.wage}}">£{{wage.wage}}</option>
                        {%endfor%}
                    </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="exampleInputEmail1">Where do you live</label>
            </div>
            <div class="row mb-1">
                <div class="col-12">
                    <div class="input-group mb-3">



                        <select name="user_region" class="custom-select" id="inputGroupSelect01">
                        
                        <option selected>Choose...</option>
                        {% for region in regions %}
                        <option value="{{region.region}}">{{region.region}}</option>
                        {%endfor%}
                    </select>
                    </div>
                </div>
            </div>
            
            
            
            <div class="row mb-1">
                <label for="exampleInputEmail1">The party I am supporting</label>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <select name="user_party" class="custom-select" id="inputGroupSelect03">
                        <option selected>Choose...</option>
                        {% for political in parties %}
                        <option value="{{political.political}}">{{political.political}}</option>
                        {%endfor%}
                    </select>
                    </div>
                </div>
            </div>
            
            <div class="row mb-1">
                <label for="exampleInputEmail1">I practice this religion</label>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group">


                        <select name="user_religion" class="custom-select" id="inputGroupSelect04">
                        <option selected>Choose...</option>
                        {% for religion in religions %}
                        <option value="{{religion.religion}}">{{religion.religion}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="exampleInputEmail1">Why I am voting</label>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea name="user_comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
</div>

</div>
</form>
</div>

</div>
{% endblock %}
